<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelero</title>
</head>
<body>
    <!--Maquetación de páginas de administrador de la pastelería.-->
    <!-- El pastelero necesita tener la información de la cantidad de sabores que le quedan para hacer los pasteles. -->
    <!-- El pastelero necesita tener la información de la cantidad de adornos que le quedan para hacer los pasteles. -->
    <!-- El pastelero necesita una tabla donde aparezcan los pedidos que se han realizado con los datos del formulario. -->
    <h1>El Pastelazo</h1>
    <h2>Almacén</h2>
    <p>Sabores: <span id="sabores">17</span></p>
    <p>Adornos: <span id="adornos">35</span></p>

    <h2>Pedidos realizados</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
            <th>Descripción</th>
            <th>Sabores</th>
            <th>Adornos</th>
        </tr>
        <tr>
            <td>Juan</td>
            <td>5555-5555</td>
            <td>Juan@gmail.com</td>
            <td>Pastel de chocolate con un adorno de fresa</td>
            <td>$1.500</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Pedro</td>
            <td>5555-7777</td>
            <td>Pedro@gmail.com</td>
            <td>Pastel de queso con un adorno de limón</td>
            <td>$1.500</td>
            <td>1</td>
        </tr>
    </table>


    
</body>
</html>